<% title = 'Benvenuto, ' + user.fullname %>
<%- layout('../site/layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Benvenuto, <%= user.fullname %></h1>
        <p class="lead">L'accesso a quest'area è concesso solamente agli espositori già iscritti.</p>

        <div class="media">
            <a class="pull-left" href="/artista/<%= user.rid %>/<%= user.slug %>">
                <img class="media-object" src="<%- gravatar.url(user.usermail, {s: '64', r: 'pg', d: '404'}) %>" alt="">
            </a>

            <div class="media-body">
                <h4 class="media-heading">Benvenuto nella tua Area Riservata alla nostra Community</h4>
                <p>In questa sezione potrai modificare il tuo profilo personale, inserire le tue mostre creare la tua Galleria d'Arte On-line e modificarti il tuo curriculum Professionale. Buona navigazione ...</p>
            </div>
        </div>
        <hr/>
        <ul class="list-unstyled">
            <li><i>Utente registrato dal <%= helper.date.format('d/m/Y H:i:s', user.registered) %></i></li>
        </ul>
    </div>
    <div class="col-xs-4">
        <%- include sidebar.ejs %>
    </div>
</div>
