<% title = 'Modifica Profilo' %>
<%- layout('../site/layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Modifica Profilo</h1>
        <p>Modifica le tue informazioni personali di questo Account.</p>
        <p>&nbsp;</p>

        <div id="result"></div>
        <form id="js-profile-form" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Nome & Cognome</label>
                        <input type="text" class="form-control" name="fullname" id="fullname" value="<%= artist.fullname %>" required="">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Permalink</label>
                        <input type="text" class="form-control" name="slug" id="slug" value="<%= artist.slug %>" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Indirizzo E-mail</label>
                        <input type="email" class="form-control" name="usermail" id="usermail" value="<%= artist.usermail %>" required="">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="pwd" id="pwd" value="<%= artist.pwd %>" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="number" class="form-control" name="phone" id="phone" value="<%- artist.phone %>">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Collegamento pagina Facebook</label>
                        <input type="url" class="form-control" name="facebook" id="facebook" value="<%- artist.facebook %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Categoria</label>
                        <select class="form-control" name="category" id="category" data-selected="<%= artist.category %>" required="">
                            <option value="">-</option>
                            <% categories.forEach( function (row){ %>
                            <option value="<%= row._id %>"><%= row.fullname %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Sito Internet</label>
                        <input type="url" class="form-control" name="web" id="web" value="<%- artist.web %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Regione</label>
                        <select class="form-control" name="region" id="region" data-selected="<%= artist.region %>" required="">
                            <option value="">-</option>
                            <% regions.forEach( function (row){ %>
                            <option value="<%= row._id %>"><%= row.fullname %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Provincia</label>
                        <select class="form-control" name="province" id="province" data-selected="<%= artist.province %>" required="">
                            <option value="">-</option>
                            <% provinces.forEach( function (row){ %>
                            <option value="<%= row._id %>"><%= row.fullname %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Breve Descrizione</label>
                <textarea class="form-control" name="description" id="description" rows="15" required=""><%= artist.description %></textarea>
            </div>
            <input type="hidden" name="id" id="id" value="<%= artist._id %>">
            <input type="submit" class="btn btn-default" value="Salva">
        </form>
    </div>
    <div class="col-xs-4">
        <%- include sidebar.ejs %>
    </div>
</div>
