<% title = 'Artista Contemporaneo ' + artist.fullname + ' | Galleria ' + artist.category.fullname + ' & Opere d\'Arte | Esposizioni Quadri e Dipinti in ' + artist.region.fullname %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1 data-id="<%= artist._id %>"><%= artist.fullname %></h1>
        <p class="text-right">
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_pinterest_hcount' displayText='Pinterest'></span>
            <span class='st_email_hcount' displayText='Email'></span>
        </p>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#gallery" role="tab" data-toggle="tab">Galleria Fotografica</a></li>
            <li class="active"><a href="#biography" role="tab" data-toggle="tab">Biografia</a></li>
            <li><a href="#reviews" role="tab" data-toggle="tab">Critiche</a></li>
            <li><a href="#exhibitions" role="tab" data-toggle="tab">Mostre</a></li>
            <li><a href="#news" role="tab" data-toggle="tab">Eventi</a></li>
        </ul>
        <br/>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane" id="gallery">
                <% if(photos.length > 0){ %>
                <div class="fotorama" data-allowfullscreen="true" data-width="100%" data-thumbwidth="150" data-thumbheight="100" data-nav="thumbs">
                    <% photos.forEach( function (row){ %>
                    <a href="/uploads/<%= row.picture %>"><img src="/uploads/<%= row.picture %>" data-caption="<%= row.fullname %>" alt="<%= row.fullname %>"/></a>
                    <% }); %>
                </div>
                <br/>
                <p class="text-danger"><i>Alcuni browser in base alle impostazioni del vostro computer possono cambiare leggermente la tonalità del dipinto.</i></p>
                <% } %>
            </div>
            <div class="tab-pane active" id="biography">
                <p><%- helper.nl2br(artist.biography) %></p>
            </div>
            <div class="tab-pane" id="reviews">
                <% if(artist.reviews != undefined){ %>
                <p><%= helper.nl2br(artist.reviews) %></p>
                <% } %>
            </div>
            <div class="tab-pane" id="exhibitions">
                <% if(artist.exhibitions != undefined){ %>
                <p><%- helper.nl2br(artist.exhibitions) %></p>
                <% } %>
            </div>
            <div class="tab-pane" id="news">
                <%- include ../blog/row-articles.ejs %>
            </div>
        </div>
    </div>
    <div class="col-xs-4">

        <div class="panel panel-default">
            <div class="panel-heading">Informazioni</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>Categoria: <a href="/categoria/<%= artist.category.slug %>"><%= artist.category.fullname %></a></li>
                    <li>Regione: <a href="/regione/<%= artist.region.slug %>"><%= artist.region.fullname %></a></li>
                    <li>Provincia: <%= artist.province.fullname %></li>
                    <li>Telefono: <%- artist.phone %></li>
                </ul>
                <hr/>
                <div class="btn-group">
                    <a href="mailto:<%- artist.usermail %>" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-flag"></span> Email</a>
                    <a href="<%- artist.web %>" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-globe"></span> Web</a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>

        <% if(surroundings.length > 0){ %>
        <div class="panel panel-default">
            <div class="panel-heading">Artisti a <%= artist.province.fullname %></div>
            <div class="panel-body">
                <% surroundings.forEach( function (row){ %>
                <div class="media">
                    <a class="pull-left" href="/artista/<%= row.rid %>/<%= row.slug %>">
                        <% if (row.photo) { %>
                        <img src="/uploads/<%= row.photo.picture %>" class="img-responsive media-object js-rc-64" alt="<%= row.fullname %>"/>
                        <% } else { %>
                        <img src="/images/no-image.png" class="img-responsive media-object js-rc-64" alt="<%= row.fullname %>"/>
                        <% } %>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading"><%= row.fullname %></h4>
                        <p><%= row.category.fullname %></p>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <% } %>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Sei un Artista? Pubblica i tuoi lavori su questo Portale...</p>
                <p><a href="/registrazione"><img src="/images/registrati.png" alt="Registrazione"/></a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="table-responsive">
            <table class="table" id="js-gallery">
                <thead>
                <tr>
                    <th>Foto</th>
                    <th>Titolo</th>
                    <th>Tecnica</th>
                    <th>Prezzo</th>
                    <th>Dimensione</th>
                    <th>Dettaglio</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



