<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1><%= artist.fullname %></h1>
        <p><%- helper.nl2br(artist.description) %></p>
        <p>&nbsp;</p>

        <div class="row">
            <% photos.forEach( function (row){ %>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/artista/lorem"><img src="/uploads/<%= row.picture %>" class="img-responsive js-rc-320" alt=""/></a>
                        <p><%= row.fullname %></p>
                        <p><%= row.technique.fullname %></p>
                        <ul class="list-inline pull-right">
                            <li><a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>

    </div>
    <div class="col-xs-4">

        <div class="panel panel-default">
            <div class="panel-heading">Informazioni</div>
            <div class="panel-body">
                <ul>
                    <li>Categoria: <%= artist.category.fullname %></li>
                    <li>Regione: <%= artist.region.fullname %></li>
                    <li>Provincia: <%= artist.province.fullname %></li>
                    <li>Telefono: <%= artist.phone %></li>
                </ul>
                <p class="pull-right"><a href="" class="btn btn-default btn-sm">Contatta</a></p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>

    </div>
</div>