<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1><%= artist.fullname %></h1>
        <p><%- helper.nl2br(artist.description) %></p>
        <p>&nbsp;</p>

        <div class="row">
            <% photos.forEach( function (row){ %>
            <div class="col-xs-4">
                <div class="thumbnail">
                    <img src="/uploads/<%= row.picture %>" class="img-responsive js-rc-480" alt=""/>
                    <div class="caption">
                        <h3 data-toggle="tooltip" class="mytooltip" title="<%= row.fullname %>"><%- truncate(row.fullname, 20) %></h3>
                        <ul class="list-unstyled">
                            <li><%= row.technique.fullname %></li>
                            <li>(<%= row.height %>x<%= row.width %>x<%= row.depth %> cm)</li>
                        </ul>
                        <p><a href="/opera-darte/<%= row.slug %>" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-search"></span> dettagli</a></p>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>

    </div>
    <div class="col-xs-4">

        <div class="panel panel-default">
            <div class="panel-heading">Informazioni</div>
            <div class="panel-body">
                <ul>
                    <li>Categoria: <%= artist.category.fullname %></li>
                    <li>Regione: <%= artist.region.fullname %></li>
                    <li>Provincia: <%= artist.province.fullname %></li>
                    <li>Telefono: <%= artist.phone %></li>
                </ul>
                <p class="pull-right"><a href="" class="btn btn-default btn-sm">Contatta</a></p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>

    </div>
</div>