<% title = 'Vetrina per gli Artisti Contemporanei | Vendita Quadri Moderni | Galleria d\'Arte Contemporanea | Art Community | Promozione Artisti' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Artisti Contemporanei</h1>
        <p class="lead">Per scoprire i <%= all_artists %> Artisti già presenti nella nostra Galleria seleziona la Categoria di interesse...</p>
        <p>Tutte le <%= all_photos %> Opere degli Artisti inseriti in questo Portale sono normalmente ritenute valide dallo Staff e compaiono in queste pagine a <strong>titolo gratuito</strong> con l'unica richiesta se possibile di ricambiarci con un link sulle loro pagine web.</p>
        <p class="text-center"><a href="/registrazione"><img src="/images/registrati.jpg" alt="Registrazione"></a></p>
        <p>Una delle maggiori raccolte italiane di: Artisti, link, quadri, opere, pittori, scultori, incisori, mostre, pittura figurativa, astratta, moderna, grafica, performance, mostre d'arte, vernice, gallerie d'arte, esposizioni, critica, opera d'arte... <strong>Quick-Art</strong>: l'Arte a portata di mano...</p>
        <hr/>
        <p class="lead">Se sei un Artista e vuoi esporre le tue Opere, puoi registrarti...</p>
        <p>La procedura è semplice e veloce: Tutti i servizi sono completamente <strong>GRATUITI</strong> (questo è lo scopo principale del progetto).</p>
        <p>Registrati al sito e potrai essere inserito stabilmente nella categoria indicata. Il tuo nome comparirà nella lista del sito, entro alcuni giorni, potrai trovarlo all'interno dell' Elenco Artisti del Portale !!!</p>
        <p>Per aderire all'iniziativa non dovrai fare altro che <strong>iscriverti al Portale</strong>, registrandoti nella categoria preferita con i tuoi dati personali e inviando alla redazione tutto il materiale da noi richiesto, NOI ti attiviamo subbito il tuo Account e appena avrai l'accesso al tuo Pannello di Controllo potrai iniziare a:</p>
        <ul>
            <li>Modificare/inserire le immagini delle tue Opere con eventuali: Titoli, Note Tecniche e Prezzi;</li>
            <li>Modificare il tuo Profilo Artistico (Note biografiche);</li>
            <li>Inserire Notizie, Mostre personale, Eventi Artistici;</li>
            <li>Caricare i tuoi Video Personali;</li>
            <li>Ecc...</li>
        </ul>
        <p><a class="btn btn-large btn-primary" href="/registrazione">Clicca quì per iniziare a creare il tuo Account</a></p>
        <p class="text-danger">* Sono ammessi solo artisti che realizzano opere di arti visive: pittura, disegno, grafica, fotografia, scultura, arte digitale. Noi curiamo con attenzione la qualità del sito e tutte le iscrizioni vengono controllate per evitare abusi.</p>
    </div>
    <div class="col-xs-4">
        <div class="list-group">
            <% categories.forEach( function (row){ %>
            <a href="/categoria/<%= row.slug %>" class="list-group-item">Categoria <%= row.fullname %></a>
            <% }); %>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-center"><a href="/extranet"><img src="/images/registrato-login.png" alt="Registrazione"/></a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>L’Italia dei centri minori e l'Italia sconosciuta e meravigliosa che si cela negli angoli più insospettabili delle nostre città e delle nostre regioni...</p>
        <ul class="list-inline">
            <% regions.forEach( function (row){ %>
            <li><a href="/regione/<%= row.slug %>">Artisti in <%= row.fullname %></a></li>
            <% }); %>
        </ul>
    </div>
</div>