<% title = 'Ricerca Opere | Catalogo Opere | Vendita Quadri | Sculture | Tele | Fotografia | Collezione Opere d\'Arte' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-12">
        <h1>Catalogo Opere d'Arte</h1>
        <p class="lead">Acquistare quadri ad olio dal nostro sito web è facile, veloce e...soprattutto sicuro.</p>
        <ol>
            <li>E' facile perchè è sufficiente sfogliare queste pagine web per scegliere tra numerosi dipinti;</li>
            <li>Qui puoi trovare quadri ad olio ma anche in acrilico, disegni, riproduzioni d'autore, etc...</li>
            <li>Tutte opere d'arte certificate e garantite dall'artista;</li>
            <li>E' veloce perchè bastano pochi clic per scegliere il quadro che fa al caso vostro in funzione dell'artista scelto, del soggetto richiesto o delle dimensioni che deve possedere il dipinto;</li>
            <li>Sfruttando infatti il motore di ricerca interno puoi trovare immediatamente quello che stai cercando;</li>
            <li>E' sicuro perchè non ti chiediamo nessun numero di carta di credito on-line nè ti obblighiamo a tenere il quadro qualora volessi cambiare idea.</li>
        </ol>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="well well-sm">
            <form action="/search" method="get" enctype="application/x-www-form-urlencoded">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Nome Opera</label>
                            <input type="search" class="form-control" name="q" id="js-q-photos" autocomplete="off" placeholder="">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Tecnica</label>
                            <select class="form-control" name="technique[]" id="technique">
                                <option value="">-</option>
                                <% techniques.forEach( function (row){ %>
                                <option value="<%= row._id %>"><%= row.fullname %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Tema</label>
                            <select class="form-control" name="theme[]" id="theme">
                                <option value="">-</option>
                                <% themes.forEach( function (row){ %>
                                <option value="<%= row._id %>"><%= row.fullname %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Prezzo</label>
                            <input type="number" class="form-control" name="price" id="price" placeholder="10.00">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <input type="hidden" name="year[]" id="year" value="">
                            <button type="submit" class="btn btn-default btn-block btn-lg"><span class="glyphicon glyphicon-search"></span> CERCA</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <p><%- include loadtime.ejs %></p>
    </div>
    <div class="col-xs-6">
        <p class="pull-right"><a href="/search?technique[]=&theme[]=&year[]=">Ricerca Avanzata</a></p>
    </div>
</div>

<% col = 4 %>
<%- include row-catalog.ejs %>

<div class="row">
    <div class="col-xs-12">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <%- include adsbygoogle-970-90.ejs %>
    </div>
</div>
