<% title = 'Artisti ' + category.fullname + ' | Pittori Scultori Fotografi' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1><%= category.fullname %></h1>
        <p>Elenco completo di tutti gli artisti della nostra collezione.</p>
        <p>&nbsp;</p>
        <%- include row-artists.ejs %>
    </div>
    <div class="col-xs-4">
        <div class="list-group">
            <% categories.forEach( function (row){ %>
            <a href="/categoria/<%= row.slug %>" class="list-group-item <% if(row.slug == category.slug){ %>active<% } %>"><%= row.fullname %></a>
            <% }); %>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-600.ejs %>
            </div>
        </div>
    </div>
</div>