<% title = 'Art Directory | ' + category.fullname %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1><%= category.fullname %></h1>
        <%- include adsbygoogle-468-60.ejs %>
        <br/>

        <% if(directories.length > 0){ %>
        <% directories.forEach( function (row){ %>
        <div class="media">
            <a class="pull-left" target="_blank" href="<%= row.web %>">
                <img src="/images/info.png" class="media-object js-rc-64" alt="<%= row.fullname %>"/>
            </a>

            <div class="media-body">
                <h4 class="media-heading"><%= row.fullname %></h4>
                <p><%= row.description %></p>
            </div>
        </div>
        <hr/>
        <% }); %>
        <% } %>

    </div>
    <div class="col-xs-4">
        <div class="list-group">
            <a href="/art-directory" class="list-group-item">Art Directory</a>
            <% categories.forEach( function (row){ %>
            <a href="/directory/<%= row.slug %>" class="list-group-item <% if(row.slug == category.slug){ %>active<% } %>">Categoria <%= row.fullname %></a>
            <% }); %>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>
