<% title = 'Art Directory | ' + category.fullname %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1><%= category.fullname %></h1>
        <p>...</p>
        <p>&nbsp;</p>
    </div>
    <div class="col-xs-4">
        <div class="list-group">
            <% categories.forEach( function (row){ %>
            <a href="/directory/<%= row.slug %>" class="list-group-item <% if(row.slug == category.slug){ %>active<% } %>">Categoria <%= row.fullname %></a>
            <% }); %>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>
