<% title = 'Artisti Contemporanei | Quadri Moderni | Opere | Vendita Quadri | Mostre | Storia dell\'Arte' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-12">
        <div id="carousel-quick-art" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-quick-art" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-quick-art" data-slide-to="1"></li>
                <li data-target="#carousel-quick-art" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://placehold.it/1280x500" alt=""/>

                    <div class="carousel-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                </div>
                <div class="item">
                    <img src="http://placehold.it/1280x500" alt=""/>

                    <div class="carousel-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                </div>
                <div class="item">
                    <img src="http://placehold.it/1280x500" alt=""/>

                    <div class="carousel-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-quick-art" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-quick-art" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <h1>Benvenuti su Quick-Art</h1>
        <p class="lead">Il più grande catalogo On-Line degli Artisti Contemporanei Italiani...</p>
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
        <span class='st_pinterest_hcount' displayText='Pinterest'></span>
        <span class='st_email_hcount' displayText='Email'></span>
        <br/>
        <p>Finalmente On-line il nuovo servizio dedicato all'Arte Moderna che nasce con lo scopo di fornire agli <strong>Artisti Contemporanei</strong> uno spazio espositivo <strong>gratuito</strong> e di alta qualità. L'iniziativa ha l'ambizione di costruire in breve tempo uno dei maggiori <strong>Database di Artisti Italiani</strong> presenti nel Web dove si potranno effettuare ricerche e scoprire direttamente idee, talenti e nuove tendenze nel mondo artistico in tutti i suoi aspetti.</p>
        <p><strong>Quick-Art</strong>, ti permette anche di acquistare le <strong>Opere degli Artisti</strong>: per ogni artista presentato c'è un modulo che permette al visitatore di fare una semplice Richiesta per ogni opera esposta. Quick-Art si impegna per altro a soddisfare le esigenze degli Artisti e di coloro che vogliano comprare <strong>Quadri</strong> e Opere Artistiche...</p>
        <p>Questo è il primo Portale interamente dedicato ai <strong>Pittori Contemporanei</strong> che offre una transazione diretta con l’artista senza nessuna intermediazione e senza alcun ricarico sulle opere d’arte. Semplicemente ti mette in contatto diretto con l’Artista.</p>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Sei un Artista? Pubblica i tuoi lavori su questo Portale...</p>
                <p><a href="/registrazione"><img src="/images/registrati.png" alt="Registrazione"/></a></p>
            </div>
        </div>
        <div class="well">
            <form action="" method="get" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label>Quadro</label>
                    <input type="search" class="form-control" name="q" id="q" placeholder="">
                </div>
                <p><a href="/catalogo-opere-arte">Catalogo Opere d'Arte?</a></p>
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="CERCA">
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<%- include row-catalog.ejs %>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">Ultimi Artisti</div>
            <div class="panel-body">
                <% artists.forEach( function (row){ %>
                <div class="media">
                    <a class="pull-left" href="/artista/<%= row.slug %>">
                        <% if (row.photo) { %>
                        <img src="/uploads/<%= row.photo.picture %>" class="img-responsive media-object js-rc-64" alt="<%= row.fullname %>"/>
                        <% } else { %>
                        <img src="/images/no-image.png" class="img-responsive media-object js-rc-64" alt="<%= row.fullname %>"/>
                        <% } %>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading"><%= row.fullname %></h4>
                        <p><%= row.category.fullname %>, <%= row.region.fullname %></p>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="list-group">
            <a href="/blog/articoli/storia-dell-arte" class="list-group-item">La Storia dell'Arte</a>
            <a href="/blog/articoli/maestri-dell-arte" class="list-group-item">I Maestri dell'Arte</a>
            <a href="/glossario-darte" class="list-group-item">Glossario d'Arte</a>
            <a href="/blog/articoli/elenco-musei-italiani" class="list-group-item">Elenco Musei Italiani</a>
            <a href="/blog/articoli/interviste-immaginarie" class="list-group-item">Interviste Immaginarie</a>
            <a href="#" class="list-group-item">Annunci Gratis</a>
            <a href="#" class="list-group-item">Art Directory Scambio link</a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <% articles.forEach( function (row){ %>
            <div class="col-xs-6">
                <div class="media">
                    <a class="pull-left" href="/blog/<%= row.slug %>">
                        <% if (row.picture) { %>
                        <img src="/uploads/<%= row.picture %>" class="img-responsive media-object js-rc-64" alt="<%= row.fullname %>"/>
                        <% } else { %>
                        <img src="/images/no-image.png" class="img-responsive media-object js-rc-64" alt="<%= row.fullname %>"/>
                        <% } %>
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading"><%= row.fullname %></h4>
                        <p><%= row.content.fullname %></p>
                    </div>
                </div>
                <br/>
            </div>
            <% }); %>
        </div>
    </div>
</div>