<% title = 'Artisti Contemporanei | Quadri Moderni | Opere | Vendita Quadri | Mostre | Storia dell\'Arte' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-12">
        <div id="carousel-quick-art" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-quick-art" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-quick-art" data-slide-to="1"></li>
                <li data-target="#carousel-quick-art" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/slide/1.jpg" alt="Pablo Picasso"/>
                    <div class="carousel-caption">"Se dipingete, chiudete gli occhi e cantate" (Pablo Picasso)</div>
                </div>
                <div class="item">
                    <img src="/slide/2.jpg" alt="Goethe"/>
                    <div class="carousel-caption">"I grandi lavori d'arte sono come i lavori della natura, veri come le montagne, i ruscelli e i prati" (Goethe)</div>
                </div>
                <div class="item">
                    <img src="/slide/3.jpg" alt="Gustave Flaubert"/>
                    <div class="carousel-caption">"L'autore nella sua opera dovrebbe essere come Dio nell'universo, presente ovunque e visibile da nessuna parte" (Gustave Flaubert)</div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-quick-art" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-quick-art" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <h1>Benvenuti su Quick-Art</h1>
        <p class="lead">Il più grande catalogo On-Line degli Artisti Contemporanei Italiani...</p>

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_native_toolbox"></div>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53fc95881113fd0c"></script>

        <br/>

        <p>Finalmente On-line il nuovo servizio dedicato all'Arte Moderna che nasce con lo scopo di fornire agli <strong>Artisti Contemporanei</strong> uno spazio espositivo <strong>gratuito</strong> e di alta qualità. L'iniziativa ha l'ambizione di costruire in breve tempo uno dei maggiori <strong>Database di Artisti Italiani</strong> presenti nel Web dove si potranno effettuare ricerche e scoprire direttamente idee, talenti e nuove tendenze nel mondo artistico in tutti i suoi aspetti.</p>
        <p><strong>Quick-Art</strong>, ti permette anche di acquistare le <strong>Opere degli Artisti</strong>: per ogni artista presentato c'è un modulo che permette al visitatore di fare una semplice Richiesta per ogni opera esposta. Quick-Art si impegna per altro a soddisfare le esigenze degli Artisti e di coloro che vogliano comprare <strong>Quadri</strong> e Opere Artistiche...</p>
        <p>Questo è il primo Portale interamente dedicato ai <strong>Pittori Contemporanei</strong> che offre una transazione diretta con l’artista senza nessuna intermediazione e senza alcun ricarico sulle opere d’arte. Semplicemente ti mette in contatto diretto con l’Artista.</p>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Sei un Artista? Pubblica i tuoi lavori su questo Portale...</p>
                <p><a href="/registrazione"><img src="/images/registrati.png" class="img-responsive" alt="Registrazione"/></a></p>
            </div>
        </div>
        <%- include search-artists.ejs %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<% col = 4 %>
<%- include row-catalog.ejs %>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <%- include adsbygoogle-970-90.ejs %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <p><strong>Città d' Arte Italiane</strong></p>
        <div class="table-responsive" id="mappa">
            <% regions.forEach( function (row){ %>
            <a href="/regione/<%= row.slug %>"><img src="/italia/<%= row.slug %>.gif" class="imgOut" id="<%= row.slug %>" alt="<%= row.fullname %>"/></a>
            <% }); %>
        </div>
    </div>
    <div class="col-xs-4">
        <p><strong>Elenco Artisti Categoria</strong></p>
        <ul class="list-unstyled">
            <% categories.forEach( function (row){ %>
            <li><a href="/categoria/<%= row.slug %>"><%= row.fullname %></a></li>
            <% }); %>
        </ul>
    </div>
    <div class="col-xs-4">
        <p><strong>Trova tante opere da consultare</strong></p>
        <ul class="list-unstyled">
            <% themes.forEach( function (row){ %>
            <li><a href="/tema/<%= row.slug %>"><%= row.fullname %></a></li>
            <% }); %>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">Ultimi Artisti</div>
            <div class="panel-body">
                <% artists.forEach( function (row){ %>
                <div class="media">
                    <a class="pull-left" href="/artista/<%= row.rid %>/<%= row.slug %>">
                        <% if (row.photo) { %>
                        <img src="/uploads/<%= row.photo.picture %>" class="media-object js-rc-64" alt="<%= helper.e(row.fullname) %>"/>
                        <% } else { %>
                        <img src="/images/no-image.png" class="media-object js-rc-64" alt="<%= helper.e(row.fullname) %>"/>
                        <% } %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><%= helper.e(row.fullname) %></h4>

                        <p><%= row.category.fullname %>, <%= row.region.fullname %></p>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="list-group">
            <a href="/blog/articoli/storia-dell-arte" class="list-group-item">La Storia dell'Arte</a>
            <a href="/blog/articoli/maestri-dell-arte" class="list-group-item">I Maestri dell'Arte</a>
            <a href="/glossario-darte" class="list-group-item">Glossario d'Arte</a>
            <a href="/blog/articoli/elenco-musei-italiani" class="list-group-item">Elenco Musei Italiani</a>
            <a href="/blog/articoli/interviste-immaginarie" class="list-group-item">Interviste Immaginarie</a>
            <a href="/annunci-arte" class="list-group-item">Annunci Gratis</a>
            <a href="/art-directory" class="list-group-item">Art Directory Scambio link</a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p class="lead">Oggi vi Presentiamo ...</p>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <% articles.forEach( function (row){ %>
            <div class="col-xs-6">
                <div class="media">
                    <a class="pull-left js-tooltip" title="<%= helper.e(row.fullname) %>" href="/blog/<%= row.rid %>/<%= row.slug %>">
                        <% if (row.picture) { %>
                        <img src="/uploads/<%= row.picture %>" class="media-object js-rc-64" alt="<%= helper.e(row.fullname) %>"/>
                        <% } else { %>
                        <img src="/images/no-image.png" class="media-object js-rc-64" alt="<%= helper.e(row.fullname) %>"/>
                        <% } %>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><%- truncate(helper.e(row.fullname), 35) %></h4>
                        <p><%= row.content.fullname %></p>
                    </div>
                </div>
                <br/>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="col-xs-6">
        <%- include calendar.ejs %>
    </div>
</div>

