<% title = photo.fullname + ' | ' + photo.technique.fullname + ' | ' + photo.theme.fullname %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1><%= photo.fullname %></h1>
        <p><i>di: <a href="/artista/<%= photo.artist.rid %>/<%= photo.artist.slug %>"><%= photo.artist.fullname %></a></i></p>
        <p>
            <a href="/uploads/<%= photo.picture %>" class="js-fancybox" title="<%= photo.fullname %>" rel="picture">
                <img src="/uploads/<%= photo.picture %>" class="img-responsive img-thumbnail" alt="<%= photo.fullname %>"/>
            </a>
        </p>

        <p class="text-danger"><i>Alcuni browser in base alle impostazioni del vostro computer possono cambiare leggermente la tonalità del dipinto.</i></p>

        <% if(photo.description != undefined){ %>
        <p><%- helper.nl2br(photo.description) %></p>
        <br/>
        <% } %>

        <% if(photo.tags){ %>
        <ul class="breadcrumb">
            <li>Tags:</li>
            <% photo.tags.forEach( function (tag){ %>
            <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
            <% }); %>
        </ul>
        <% } %>
        <p class="text-muted">Totale visualizzazioni: <span><%= photo.views %></span></p>
    </div>
    <div class="col-xs-4">

        <div class="panel panel-default">
            <div class="panel-heading">Informazioni Produttore</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>Codice: <%- photo.code %></li>
                    <li>Tecnica: <a href="/tecnica/<%= photo.technique.slug %>"><%= photo.technique.fullname %></a></li>
                    <li>Anno: <%= photo.year %></li>
                    <li>Dimensione: <%= photo.height %>x<%= photo.width %>x<%= photo.depth %> <%= photo.measure %></li>
                </ul>
                <hr/>
                <p class="lead"><%= helper.number_format(photo.price, 2, '.', ',') %> €</p>
                <ul class="list-unstyled">
                    <% if(photo.available == 1){ %>
                    <li><span class="label label-success">Disponibile</span>
                        <% } else{ %>
                        <span class="label label-danger">NON Disponibile</span></li>
                    <% } %>
                    <% if(photo.frame == 1){ %>
                    <li class="text-muted">Quadro comprensivo di cornice
                        <% } %>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Questo quadro potrebbe essere tuo</div>
            <div class="panel-body">
                <p>Chiedi come fare direttamente all'artista, senza alcuna intermediazione.</p>

                <form id="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <input type="text" class="form-control" name="" id="" placeholder="Nome & Cognome" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="" id="" placeholder="Indirizzo E-mail" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="" id="" placeholder="Telefono" required="">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="" id="" placeholder="Messaggio"></textarea>
                    </div>
                    <input type="submit" class="btn btn-default btn-block" value="INVIA">
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>

    </div>
</div>

<% if(related.length > 0){ %>
<div class="row">
    <div class="col-xs-12">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p class="lead">Prodotti Correlati</p>
    </div>
</div>

<div class="row">
    <% related.forEach( function (row){ %>
    <div class="col-xs-3">
        <div class="media">
            <a class="pull-left js-tooltip" data-toggle="tooltip" title="<%= row.height %>x<%= row.width %>x<%= row.depth %> <%= row.measure %>" href="/opera-darte/<%= row.rid %>/<%= row.slug %>">
                <img src="/uploads/<%= row.picture %>" class="media-object js-rc-64" alt="<%= row.fullname %>"/>
            </a>

            <div class="media-body">
                <h4 class="media-heading"><%= row.fullname %></h4>
                <ul class="list-unstyled">
                    <li><%= row.technique.fullname %></li>
                    <li><%= row.artist.fullname %></li>
                </ul>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<% } %>
<% if(pictures.length > 0){ %>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p class="lead">Guarda altri quadri di <a href="/artista/<%= photo.artist.rid %>/<%= photo.artist.slug %>"><%= photo.artist.fullname %></a> (scelti a caso)</p>
    </div>
</div>

<div class="row">
    <% pictures.forEach( function (row, i){ %>
    <% if (i == 3) { %>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
    <% } %>
    <div class="col-xs-4">
        <div class="thumbnail">
            <a href="/opera-darte/<%= row.rid %>/<%= row.slug %>">
                <img src="/uploads/<%= row.picture %>" class="img-responsive js-rc-480" alt="<%= row.fullname %>"/>
            </a>

            <div class="caption">
                <h3 data-toggle="tooltip" class="js-tooltip" title="<%= row.fullname %>"><%- truncate(row.fullname, 25) %></h3>
                <ul class="list-unstyled">
                    <li><%= row.technique.fullname %></li>
                    <li><%= row.height %>x<%= row.width %>x<%= row.depth %> <%= row.measure %></li>
                </ul>
                <hr/>
                <ul class="list-inline">
                    <li><%= helper.number_format(row.price, 2, '.', ',') %> €</li>
                    <li class="pull-right"><a href="/opera-darte/<%= row.rid %>/<%= row.slug %>" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-search"></span> dettagli</a></li>
                </ul>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<% } %>
