<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Registrazione</h1>
        <p class="lead">Sei un Artista? Pubblica i tuoi lavori su questo Portale...</p>
        <p>&nbsp;</p>

        <div id="result"></div>
        <form id="js-registration-form" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Nome & Cognome</label>
                        <input type="text" class="form-control" name="fullname" id="fullname" value="" required="">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="pwd" id="pwd" value="" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Indirizzo E-mail</label>
                        <input type="email" class="form-control" name="usermail" id="usermail" value="" required="">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Sito Internet</label>
                        <input type="url" class="form-control" name="web" id="web" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Regione</label>
                        <select class="form-control" name="region" id="region" required="">
                            <option value="">-</option>
                            <% regions.forEach( function (row){ %>
                            <option value="<%= row._id %>"><%= row.fullname %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Categoria</label>
                        <select class="form-control" name="category" id="category" required="">
                            <option value="">-</option>
                            <% categories.forEach( function (row){ %>
                            <option value="<%= row._id %>"><%= row.fullname %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Breve Descrizione</label>
                <textarea class="form-control" name="description" id="description" rows="15" required=""></textarea>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="accept" id="accept" value="1" required=""> Accetto il regolamento</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="privacy" id="privacy" value="1" required=""> Ho preso visione dell’informativa al trattamento dei dati</label>
            </div>
            <input type="hidden" name="slug" id="slug" value="">
            <input type="submit" class="btn btn-default" value="Registrati">
        </form>
    </div>
    <div class="col-xs-4">

        <div class="panel panel-default">
            <div class="panel-body">
                <p>Quick-Art è un servizio di Promozione Artistica On-line</p>
                <p>Con Quick-Art potrai aumentare notevolmente la visibilità della Tua Arte.</p>
                <ul>
                    <li>Questo Portale ti consente di realizzare una propria pagina per farti conoscere in tutto il mondo</li>
                    <li>Potrete inserire immagini (con tecnica, prezzo & titolo) di opere e curriculum artistico</li>
                    <li>Realizza la tua sezione presentando le tue opere con relativa descrizione, biografia, riferimento mail e link al tuo sito personale per offrirti un contatto diretto senza mediazioni con il pubblico...</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>

    </div>
</div>