<% title = 'Adesione al Portale | Esponi le tue Opere On-line | Registrazione Artista Contemporaneo' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Registrazione</h1>
        <p class="lead">Sei un Artista? Pubblica i tuoi lavori su questo Portale...</p>
        <p>&nbsp;</p>

        <div id="result"></div>
        <form id="js-registration-form" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Nome & Cognome</label>
                        <input type="text" class="form-control" name="fullname" id="fullname" value="" required="">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Nickname</label>
                        <input type="text" class="form-control" name="slug" id="slug" value="" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Indirizzo E-mail</label>
                        <input type="email" class="form-control" name="usermail" id="usermail" value="" required="">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="pwd" id="pwd" value="" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="number" class="form-control" name="phone" id="phone" value="">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Collegamento pagina Facebook</label>
                        <input type="url" class="form-control" name="facebook" id="facebook" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Categoria</label>
                        <select class="form-control" name="category" id="category" required="">
                            <option value="">-</option>
                            <% categories.forEach( function (row){ %>
                            <option value="<%= row._id %>"><%= row.fullname %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Sito Internet</label>
                        <input type="url" class="form-control" name="web" id="web" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Regione</label>
                        <select class="form-control" name="region" id="region" required="">
                            <option value="">-</option>
                            <% regions.forEach( function (row){ %>
                            <option value="<%= row._id %>"><%= row.fullname %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Provincia</label>
                        <select class="form-control" name="province" id="province" required="">
                            <option value="">-</option>
                            <% provinces.forEach( function (row){ %>
                            <option value="<%= row._id %>"><%= row.fullname %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#biography" role="tab" data-toggle="tab">Biografia</a></li>
                <li><a href="#reviews" role="tab" data-toggle="tab">Critiche</a></li>
                <li><a href="#exhibitions" role="tab" data-toggle="tab">Mostre</a></li>
            </ul>
            <br/>

            <div class="tab-content">
                <div class="tab-pane active" id="biography">
                    <div class="form-group">
                        <textarea class="form-control" name="biography" id="biography" rows="15" required=""></textarea>
                    </div>
                </div>
                <div class="tab-pane" id="reviews">
                    <div class="form-group">
                        <textarea class="form-control" name="reviews" id="reviews" rows="15"></textarea>
                    </div>
                </div>
                <div class="tab-pane" id="exhibitions">
                    <div class="form-group">
                        <textarea class="form-control" name="exhibitions" id="exhibitions" rows="15"></textarea>
                    </div>
                </div>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="accept" id="accept" value="1" checked required=""> Accetto il regolamento</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="privacy" id="privacy" value="1" checked required=""> Ho preso visione dell’informativa al trattamento dei dati</label>
            </div>
            <input type="submit" class="btn btn-default" value="Registrati">
        </form>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Quick-Art è un servizio di Promozione Artistica On-line</p>
                <p>Con Quick-Art potrai aumentare notevolmente la visibilità della Tua Arte.</p>
                <ul>
                    <li>Questo Portale ti consente di realizzare una propria pagina per farti conoscere in tutto il mondo</li>
                    <li>Potrete inserire immagini (con tecnica, prezzo & titolo) di opere e curriculum artistico</li>
                    <li>Realizza la tua sezione presentando le tue opere con relativa descrizione, biografia, riferimento mail e link al tuo sito personale per offrirti un contatto diretto senza mediazioni con il pubblico...</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>