<div class="row">

    <% if(photos.length > 0){ %>

    <% photos.forEach( function (row){ %>
    <div class="">
        <div class="col-xs-<%= col %>">
            <div class="thumbnail">
                <a href="/opera-darte/<%= row.rid %>/<%= row.slug %>">
                    <img src="/uploads/<%= row.picture %>" class="img-responsive js-rc-480" alt="<%= helper.e(row.fullname) %>"/>
                </a>

                <div class="caption">
                    <h3 data-toggle="tooltip" class="js-tooltip" title="<%= helper.e(row.fullname) %>"><%- truncate(helper.e(row.fullname), 25) %></h3>
                    <ul class="list-unstyled">
                        <li><i>di: <a href="/artista/<%= row.artist.rid %>/<%= row.artist.slug %>"><%= helper.e(row.artist.fullname) %></a></i></li>
                        <li class="js-hide-technique" data-id="<%= row.technique._id %>"><%= row.technique.fullname %></li>
                        <li class="js-hide-theme hidden" data-id="<%= row.theme._id %>"><%= row.theme.fullname %></li>
                        <li class="js-hide-year hidden" data-id="<%= helper.e(row.year) %>"><%= helper.e(row.year) %></li>
                        <li><%= helper.e(row.height) %>x<%= helper.e(row.width) %>x<%= helper.e(row.depth) %> <%= row.measure %></li>
                    </ul>
                    <hr/>
                    <ul class="list-inline">
                        <li><%= helper.number_format(helper.e(row.price), 2, '.', ',') %> €</li>
                        <li class="pull-right"><a href="/opera-darte/<%= row.rid %>/<%= row.slug %>" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-search"></span> dettagli</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <% }); %>

    <% } else { %>
    <div class="col-xs-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            Spiacente, ma nessun risultato è stato trovato!
        </div>
    </div>
    <% } %>

</div>
