<div class="row">
    <% if(photos.length > 0){ %>
    <% photos.forEach( function (row){ %>
    <div class="col-xs-4">
        <div class="thumbnail">
            <img src="/uploads/<%= row.picture %>" class="img-responsive js-rc-480" alt="<%= row.fullname %>"/>
            <div class="caption">
                <h3 data-toggle="tooltip" class="mytooltip" title="<%= row.fullname %>"><%- truncate(row.fullname, 20) %></h3>
                <p><%= row.technique.fullname %>, (<%= row.height %>x<%= row.width %>x<%= row.depth %> cm)</p>
                <p><a href="/opera-darte/<%= row.slug %>" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-search"></span> dettagli</a></p>
            </div>
        </div>
    </div>
    <% }); %>
    <% } else { %>
    <div class="col-xs-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            Spiacente, ma nessun risultato è stato trovato!
        </div>
    </div>
    <% } %>
</div>
