<div class="row">
    <% if(artists.length > 0){ %>

    <% artists.forEach( function (row){ %>
    <div class="col-xs-6">
        <div class="thumbnail">
            <a href="/artista/<%= row.rid %>/<%= row.slug %>">
                <% if (row.photo) { %>
                <img src="/uploads/<%= row.photo.picture %>" class="img-responsive js-rc-350" alt="<%= helper.e(row.fullname) %>"/>
                <% } else { %>
                <img src="/images/no-image.png" class="img-responsive js-rc-350" alt="<%= helper.e(row.fullname) %>"/>
                <% } %>
            </a>

            <div class="caption">
                <h3><%= helper.e(row.fullname) %></h3>
                <ul class="list-unstyled">
                    <li class="js-hide-region hidden" data-id="<%= row.region._id %>"><%= row.region.fullname %></li>
                    <li class="js-hide-category hidden" data-id="<%= row.category._id %>"><%= row.category.fullname %></li>
                    <li class="js-hide-province" data-id="<%= row.province._id %>"><%= row.province.fullname %></li>
                </ul>
                <hr/>
                <ul class="list-unstyled">
                    <li><a href="/artista/<%= row.rid %>/<%= row.slug %>" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-search"></span> dettagli</a></li>
                </ul>
            </div>
        </div>
    </div>
    <% }); %>

    <% } else { %>
    <div class="col-xs-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            Spiacente, ma nessun risultato è stato trovato!
        </div>
    </div>
    <% } %>

</div>
