<% title = 'Risultati della ricerca' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-12">
        <h1>Risultati della ricerca</h1>
        <p class="lead">Catalogo delle Opere d'Arte dell'Archivio Contemporaneo</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="well well-sm">
            <form action="/search" method="get" enctype="application/x-www-form-urlencoded">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Quadro</label>
                            <input type="search" class="form-control" name="q" id="q" value="<%- query.q %>" placeholder="">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Tecnica</label>
                            <select class="form-control" name="technique" id="technique">
                                <option value="">-</option>
                                <% techniques.forEach( function (row){ %>
                                <option value="<%= row._id %>" <% if(row._id == query.technique){ %>selected
                                        <% } %>
                                        ><%= row.fullname %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Categoria</label>
                            <select class="form-control" name="theme" id="theme">
                                <option value="">-</option>
                                <% themes.forEach( function (row){ %>
                                <option value="<%= row._id %>" <% if(row._id == query.theme){ %>selected
                                        <% } %>
                                        ><%= row.fullname %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>Prezzo</label>
                            <input type="number" class="form-control" name="price" id="price" value="<%= query.price %>" placeholder="10.00">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>Prezzo</label>
                            <input type="number" class="form-control" name="year" id="year" value="<%= query.year %>" placeholder="<%= helper.date.format('Y') %>">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Dimensione (H×L×P)</label>

                            <div class="row">
                                <div class="col-xs-3"><input type="number" class="form-control" name="height" id="height" value="<%= query.height %>"></div>
                                <div class="col-xs-3"><input type="number" class="form-control" name="width" id="width" value="<%= query.width %>"></div>
                                <div class="col-xs-3"><input type="number" class="form-control" name="depth" id="depth" value="<%= query.depth %>"></div>
                                <div class="col-xs-3">
                                    <select class="form-control" name="measure" id="measure" required="">
                                        <% measurements.forEach( function (measure){ %>
                                        <option value="<%= measure %>" <% if(measure == query.measure){ %>selected
                                                <% } %>
                                                ><%= measure %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Tags (separare le parole con una virgola e uno spazio)</label>
                            <input type="text" class="form-control" name="tags" id="tags" value="<%- query.tags %>" data-role="tagsinput" placeholder="vaso, fiori">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-default btn-block btn-lg"><span class="glyphicon glyphicon-search"></span> CERCA</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <p>
            <script type="text/javascript">
                var start = new Date();
                var startsec = start.getTime();
                var num = 0;
                for (var i = 0; i < 250000; i++) {
                    num++;
                }
                var stop = new Date();
                var stopsec = stop.getTime();
                var loadtime = ( stopsec - startsec ) / 1000;
                document.write("(caricati in: " + loadtime + " secondi)");
            </script>
        </p>
    </div>
    <div class="col-xs-6"></div>
</div>

<%- include row-catalog.ejs %>
