<% title = 'Risultati della ricerca' %>
<%- layout('layout') %>

<div class="row">

    <div class="col-xs-8">
        <h1>Risultati della ricerca</h1>
        <p>In questa sezione sono visibili tutte le più significative Opere e Quadri dei nostri artisti italiani... Seleziona la Tecnica e il Prezzo piu adatto e inizia la ricerca...</p>
        <p>Trovati <%= photos.length %> risultati <%- include loadtime.ejs %></p>
        <% col = 6 %>
        <%- include row-catalog.ejs %>
    </div>

    <div class="col-xs-4">
        <form action="/search" method="get" name="search" enctype="application/x-www-form-urlencoded">
            <div class="well well-sm">
                <div class="form-group">
                    <label>Nome Opera</label>
                    <input type="search" class="form-control" name="q" id="js-q-photos" autocomplete="off" value="<%- query.q %>" placeholder="">
                </div>
                <div class="form-group">
                    <label>Tecnica</label>
                    <select class="form-control" data-selected="<%- query.technique %>" name="technique[]" id="technique">
                        <option value="">-</option>
                        <% techniques.forEach( function (row, i){ %>
                        <option value="<%= row._id %>" <% if(row._id == query.technique[0]){ %>selected
                                <% } %>
                                ><%= row.fullname %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Categoria</label>
                    <select class="form-control" data-selected="<%- query.theme %>" name="theme[]" id="theme">
                        <option value="">-</option>
                        <% themes.forEach( function (row){ %>
                        <option value="<%= row._id %>" <% if(row._id == query.theme[0]){ %>selected
                                <% } %>
                                ><%= row.fullname %></option>
                        <% }); %>
                    </select>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Prezzo</label>
                            <input type="number" class="form-control" name="price" id="price" value="<%= query.price %>" placeholder="10.00">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Anno</label>
                            <input type="number" class="form-control" data-selected="<%- query.year %>" name="year[]" id="year" value="<%- query.year[0] %>" placeholder="<%= helper.date.format('Y') %>">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Dimensione (H×L×P)</label>

                    <div class="row">
                        <div class="col-xs-4"><input type="number" class="form-control" name="height" id="height" value="<%= query.height %>"></div>
                        <div class="col-xs-4"><input type="number" class="form-control" name="width" id="width" value="<%= query.width %>"></div>
                        <div class="col-xs-4"><input type="number" class="form-control" name="depth" id="depth" value="<%= query.depth %>"></div>
                    </div>
                </div>

                <div class="form-group">
                    <select class="form-control" name="measure" id="measure">
                        <option value="">-</option>
                        <% measurements.forEach( function (measure){ %>
                        <option value="<%= measure %>" <% if(measure == query.measure){ %>selected
                                <% } %>
                                ><%= measure %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Tags (separare le parole con una virgola)</label>
                    <input type="text" class="form-control" name="tags" id="tags" value="<%- query.tags %>" data-role="tagsinput" placeholder="vaso, fiori">
                </div>
                <div class="form-group">
                    <label>Autore dell' Opera (Artista)</label>
                    <input type="search" class="form-control" name="artistname" id="js-q-artists" autocomplete="off" value="<%- query.artistname %>" placeholder="">
                </div>
                <hr/>
                <input type="hidden" name="artist" id="artist" value="<%- query.artist %>">
                <button type="submit" class="btn btn-default btn-block btn-lg"><span class="glyphicon glyphicon-search"></span> CERCA</button>
            </div>

            <% if(photos.length > 0){ %>
            <div class="panel panel-default">
                <div class="panel-heading">Raffina la ricerca</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Tecnica</label>
                        <div id="js-refine-techniques" class="js-filter-list"></div>
                    </div>

                    <hr/>
                    <div class="form-group">
                        <label>Categoria</label>
                        <div id="js-refine-themes" class="js-filter-list"></div>
                    </div>

                    <hr/>
                    <div class="form-group">
                        <label>Anno</label>
                        <div id="js-refine-years" class=""></div>
                    </div>

                    <hr/>
                    <ul class="list-inline">
                        <li><a href="/search?q=&technique[]=&theme[]=&price=&year[]=">Cancella ricerca</a></li>
                        <li class="pull-right"><a class="btn btn-default" onclick="document.search.submit()">Raffina</a></li>
                    </ul>
                </div>
            </div>
            <% } %>

            <div class="panel panel-default">
                <div class="panel-body">
                    <%- include adsbygoogle-300-250.ejs %>
                </div>
            </div>
        </form>
    </div>

</div>
