<% title = tag + ' | Opere d\'Arte' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1><%= tag %></h1>
        <p class="lead">Catalogo delle Opere d'Arte dell'Archivio Contemporaneo</p>
        <p>Trovati <%= photos.length %> risultati <%- include loadtime.ejs %></p>
    </div>
    <div class="col-xs-4">
        <form action="/search" method="get" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label>Ricerca (separare le parole con una virgola)</label>
                <input type="text" class="form-control" name="tags" id="tags" value="" required="" data-role="tagsinput" placeholder="vaso, fiori">
            </div>
            <input type="hidden" name="technique[]" id="technique" value="">
            <input type="hidden" name="theme[]" id="theme" value="">
            <input type="hidden" name="year[]" id="year" value="">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> CERCA</button>
        </form>
    </div>
</div>

<% col = 4 %>
<%- include row-catalog.ejs %>
