<% title = 'Art Blog' %>
<%- layout('../site/layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Art Blog</h1>
        <hr/>
        <%- include row-articles.ejs %>
    </div>
    <div class="col-xs-4">
        <div class="list-group">
            <% contents.forEach( function (row){ %>
            <a href="/blog/articoli/<%= row.slug %>" class="list-group-item"><%= row.fullname %></a>
            <% }); %>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include ../site/adsbygoogle-300-250.ejs %>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Art News - Quick-art (Feed RSS)</div>
            <div class="panel-body">
                <p>Abbonati al servizio di Notizie utilizzando questo <a href="#">Feed RSS</a>. Troverai una lista completa delle ultime Notizie sull' Mondo dell' Arte ...</p>
            </div>
        </div>
    </div>
</div>