<% if(articles.length > 0){ %>
<% articles.forEach( function (row){ %>
<div class="media">
    <a class="pull-left" href="/blog/<%= row.slug %>">
        <% if (row.picture) { %>
        <img src="/uploads/<%= row.picture %>" class="img-responsive media-object js-rc-64" alt="<%= row.fullname %>"/>
        <% } else { %>
        <img src="/images/no-image.png" class="img-responsive media-object js-rc-64" alt="<%= row.fullname %>"/>
        <% } %>
    </a>

    <div class="media-body">
        <h4 class="media-heading"><%= row.fullname %></h4>
        <p><%= row.subtitle %></p>
    </div>
</div>
<hr/>
<% }); %>
<% } else { %>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    Spiacente, ma nessun risultato è stato trovato!
</div>
<% } %>