<%- layout('layout') %>

<header class="bar bar-nav">
    <a href="/mobile" data-transition="slide-in" class="icon icon-left-nav pull-left"></a>
    <a href="#menu" class="icon icon-info pull-right"></a>
    <h1 class="title"><%- truncate(helper.e(artist.fullname), 25) %></h1>
</header>

<%- include form-search.ejs %>
<%- include nav.ejs %>

<div class="content">

    <div class="slider">
        <div class="slide-group">
            <% if(photos.length > 0){ %>
            <% photos.forEach( function (row){ %>
            <div class="slide">
                <img src="/uploads/<%= row.picture %>" width="640" height="300" class="js-rc-640" alt=""/>
                <span class="slide-text"><span class="icon icon-left-nav"></span></span>
            </div>
            <% }); %>
            <% } else { %>
            <div class="slide">
                <img src="/images/no-image-available.png" width="640" height="300" class="js-rc-640" alt=""/>
            </div>
            <% } %>
        </div>
    </div>

    <div class="segmented-control">
        <a class="control-item active" href="#biography">Biografia</a>
        <a class="control-item" href="#reviews">Critiche</a>
        <a class="control-item" href="#exhibitions">Mostre</a>
    </div>

    <div id="biography" class="control-content content-padded active">
        <p><%- helper.nl2br(helper.e(artist.biography)) %></p>
    </div>

    <div id="reviews" class="control-content content-padded">
        <p><%- helper.nl2br(helper.e(artist.reviews)) %></p>
    </div>

    <div id="exhibitions" class="control-content content-padded">
        <p><%- helper.nl2br(helper.e(artist.exhibitions)) %></p>
    </div>

</div>

<%- include modal.ejs %>
