<%- layout('layout') %>

<header class="bar bar-nav">
    <a href="#menu" class="icon icon-info pull-right"></a>

    <h1 class="title">Quick Art</h1>
</header>

<%- include search.ejs %>
<%- include nav.ejs %>

<div class="content">
    <div class="slider">
        <div class="slide-group">
            <% photos.forEach( function (row){ %>
            <div class="slide">
                <img src="/uploads/<%= row.picture %>" width="640" height="300" class="js-rc-640" alt=""/>
                <span class="slide-text"><span class="icon icon-left-nav"></span></span>
            </div>
            <% }); %>
        </div>
    </div>
    <ul class="table-view">
        <li class="table-view-cell table-view-divider">Oggi vi Presentiamo</li>
        <% artists.forEach( function (row){ %>
        <li class="table-view-cell media">
            <a href="/mobile/artist/<%= row.rid %>" class="navigate-right" data-transition="slide-in">
                <img src="<% if (row.photo) { %>/uploads/<%= row.photo.picture %> <% } else { %>/images/no-image.png<% } %>" class="media-object pull-left js-rc-64" width="64" height="64" alt=""/>
                <div class="media-body">
                    <p><%= helper.e(row.fullname) %></p>
                    <p><%= helper.e(row.category.fullname) %>, <%= helper.e(row.region.fullname) %></p>
                </div>
            </a>
        </li>
        <% }); %>
    </ul>

</div>

<%- include modal.ejs %>
