<%- layout('layout') %>

<header class="bar bar-nav">
    <a href="/mobile" data-transition="slide-in" class="icon icon-left-nav pull-left"></a>
    <a href="#menu" class="icon icon-info pull-right"></a>

    <h1 class="title">Catalogo Opere d'Arte</h1>
</header>

<%- include form-search.ejs %>
<%- include nav.ejs %>

<div class="content">
    <ul class="table-view">
        <% themes.forEach( function (row){ %>
        <li class="table-view-cell"><a href="/mobile/theme/<%= row.slug %>" data-transition="slide-in" class="navigate-right"><%= helper.e(row.fullname) %></a></li>
        <% }); %>
    </ul>
</div>

<%- include modal.ejs %>
